<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="C:\XIMEA\API\x64"/>
			<dependentAssembly>
				<assemblyIdentity name="xiApi.NETX64.dll"
				publicKeyToken="de3a45b66b18d392"
				culture="Neutral" />
				<bindingRedirect oldVersion="0.0.0.0" newVersion="4.3.30319.42000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>